.profile-content {
  --background: #f4f5f8;
}

.profile-card {
  max-width: 500px;
  margin: 20px auto;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}